body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, figure, form, fieldset, input, p, blockquote, th, td, legend {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Cardo', serif;
}
h1 {
  font-family: 'Bevan', serif;
  font-size: 3.0em;
}
h2 {
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  text-transform: uppercase;
}
p {
  line-height: 1.4em;
  margin-bottom: 1.0em;
}
a {
  color: #821122;
}
#content {
  width: 925px;
  margin: 0 auto;
}
#filters {
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}
#filters a {
  color: #000;
  font-size: 12px;
  padding: 5px;
  background: #e2e2e2;
  cursor: pointer;
  margin-right: 3px;
}
#filters a.SAS-hidden, 
#filters a.ECS-hidden, 
#filters a.MEA-hidden, 
#filters a.SSF-hidden, 
#filters a.LCN-hidden, 
#filters a.EAS-hidden, 
#filters a.NAC-hidden {
    background: #FFFFFF;
    
}
#filters a:last-child {
  margin-right: 0;
}
#filters a.SAS-highlighted {
  background: #895881;
  color: #fff;
}
#filters a.ECS-highlighted {
  background: #ED7C31;
  color: #fff;
}
#filters a.MEA-highlighted {
  background: #82A5C0;
  color: #fff;
}
#filters a.SSF-highlighted {
  background: #6E9E75;
  color: #fff;
}
#filters a.LCN-highlighted {
  background: #00BBD6;
  color: #fff;
}
#filters a.EAS-highlighted {
  background: #e25f82;
  color: #fff;
}
#filters a.NAC-highlighted {
  background: #be1932;
  color: #fff;
}
#vis {
  min-height: 550px;
}
.countryName {
    opacity: 0;
}
.countryNameActive {
    opacity: 1;
}

path {
  stroke: #e2e2e2;
  stroke-width: 0.9;
  fill: none;
}
path.active, path.highlighted.active {
  stroke: #000;
  stroke-width: 1.7;
}
.flag {
    border: 2px solid white;
}
.flag-hidden-SAS, 
.flag-hidden-ECS, 
.flag-hidden-MEA, 
.flag-hidden-SSF, 
.flag-hidden-LCN, 
.flag-hidden-EAS, 
.flag-hidden-NAC {
} 
.flag-active-true {
    border: 2px solid black;
}
.SAS.highlighted {
  stroke: #895881;
}
.flag-highlighted-SAS {
    border: 2px solid #895881;
}
.ECS.highlighted {
  stroke: #ED7C31;
}
.flag-highlighted-ECS {
    border: 2px solid #ED7C31;
}
.MEA.highlighted {
  stroke: #82A5C0;
}
.flag-highlighted-MEA {
    border: 2px solid #82A5C0;
}
.SSF.highlighted {
  stroke: #6E9E75;
}
.flag-highlighted-SSF {
    border: 2px solid #6E9E75;
}
.LCN.highlighted {
  stroke: #00BBD6;
}
.flag-highlighted-LCN {
    border: 2px solid #00BBD6;
}
.EAS.highlighted {
  stroke: #e25f82;
}
.flag-highlighted-EAS {
    border: 2px solid #e25f82;
}
.NAC.highlighted {
  stroke: #be1932;
}
.flag-highlighted-NAC {
    border: 2px solid #be1932;
}
.highlighted {
  stroke-width: 1px;
}
line {
  stroke: black;
}
text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}
.axis {
  stroke-width: 0.8;
  stroke: #000;
}
.xTicks, .yTicks {
  stroke-width: 0.6;
  stroke: #000;
}
#cite {
  font-size: 0.8em;
  text-align: right;
  margin-top: 10px;
  padding-bottom: 20px;
}
#cite a {
  background: #e2e2e2;
  text-decoration: none;
  color: #821122;
}

.selection {
	stroke          : gray;
	stroke-width    : 1px;
	stroke-dasharray: 4px;
	stroke-opacity  : 0.5;
	fill            : transparent;
}

.state {
	stroke  : gray;
	fill    : white;
}
