body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, figure, form, fieldset, input, p, blockquote, th, td, legend {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Cardo', serif;
}
h1 {
  font-family: 'Bevan', serif;
  font-size: 3.0em;
}
h2 {
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  text-transform: uppercase;
}
p {
  line-height: 1.4em;
  margin-bottom: 1.0em;
}
a {
  color: #821122;
}
#content {
  width: 925px;
  margin: 0 auto;
}
#filters {
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}
#filters a {
  color: #000;
  font-size: 12px;
  padding: 5px;
  background: #e2e2e2;
  cursor: pointer;
  margin-right: 3px;
}
#filters a.SAS-hidden, 
#filters a.ECS-hidden, 
#filters a.MEA-hidden, 
#filters a.SSF-hidden, 
#filters a.LCN-hidden, 
#filters a.EAS-hidden, 
#filters a.NAC-hidden {
    background: #FFFFFF;
    
}
#filters a:last-child {
  margin-right: 0;
}
#filters a.SAS-highlighted {
  background: #895881;
  color: #fff;
}
#filters a.ECS-highlighted {
  background: #ED7C31;
  color: #fff;
}
#filters a.MEA-highlighted {
  background: #c9da3b;
  color: #fff;
}
#filters a.SSF-highlighted {
  background: #6E9E75;
  color: #fff;
}
#filters a.LCN-highlighted {
  background: #00BBD6;
  color: #fff;
}
#filters a.EAS-highlighted {
  background: #e25f82;
  color: #fff;
}
#filters a.NAC-highlighted {
  background: #be1932;
  color: #fff;
}
#vis {
  min-height: 550px;
}

path {
  stroke: #e2e2e2;
  stroke-width: 0.9;
  fill: none;
}
path.active, path.highlighted.active {
  stroke: #000;
  stroke-width: 1.7;
}
.flag {
    border: 2px solid white;
}
.flag-hidden-SAS, 
.flag-hidden-ECS, 
.flag-hidden-MEA, 
.flag-hidden-SSF, 
.flag-hidden-LCN, 
.flag-hidden-EAS, 
.flag-hidden-NAC {
} 
.flag.active {
    border: 2px solid black;
}
.SAS.highlighted {
  stroke: #895881;
}
.flag-highlighted-SAS {
    border: 2px solid #895881;
}
.ECS.highlighted {
  stroke: #ED7C31;
}
.flag-highlighted-ECS {
    border: 2px solid #ED7C31;
}
.MEA.highlighted {
  stroke: #c9da3b;
}
.flag-highlighted-MEA {
    border: 2px solid #c9da3b;
}
.SSF.highlighted {
  stroke: #6E9E75;
}
.flag-highlighted-SSF {
    border: 2px solid #6E9E75;
}
.LCN.highlighted {
  stroke: #00BBD6;
}
.flag-highlighted-LCN {
    border: 2px solid #00BBD6;
}
.EAS.highlighted {
  stroke: #e25f82;
}
.flag-highlighted-EAS {
    border: 2px solid #e25f82;
}
.NAC.highlighted {
  stroke: #be1932;
}
.flag-highlighted-NAC {
    border: 2px solid #be1932;
}
.highlighted {
  stroke-width: 1px;
}
line {
  stroke: black;
}
text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}
.axis {
  stroke-width: 0.8;
  stroke: #000;
}
.xTicks, .yTicks {
  stroke-width: 0.6;
  stroke: #000;
}
#cite {
  font-size: 0.8em;
  text-align: right;
  margin-top: 10px;
  padding-bottom: 20px;
}
#cite a {
  background: #e2e2e2;
  text-decoration: none;
  color: #821122;
}
text {
  fill: #333;
  font-size: 12px; }

.background {
  fill: none;
  pointer-events: all; }

.unit {
  cursor: pointer;
  fill: #ccc;
  stroke: #000;
  stroke-width: 0.4px; }

.legend-bg {
  fill: #fff;
  fill-opacity: 0.8; }

.legend-bar {
  stroke: #333;
  stroke-width: 1px; }
#yearsSlider {
    width: 900px;
    margin-left: 25px;
}

#wrapper {
    width: 960px;
    margin: -30px auto 0;
}
#map {
    width: 930px;
    margin-left: 25px;
    height: 580px;
    position: relative;
}
#map svg {
    border: 1px solid #ccc;
}
.stroke {
  fill: none;
  stroke: #888;
  stroke-width: 2px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
.countryArea {
    fill: steelblue;
    stroke: white;
    stroke-width: .5px;
}
.countryArea.highlighted.region-SAS { stroke: #895881 }
.countryArea.highlighted.region-ECS { stroke: #ED7C31 }
.countryArea.highlighted.region-MEA { stroke: #effa75 }
.countryArea.highlighted.region-SSF { stroke: #6E9E75 }
.countryArea.highlighted.region-LCN { stroke: #00BBD6 }
.countryArea.highlighted.region-EAS { stroke: #e25f82 }
.countryArea.highlighted.region-NAC { stroke: #be1932 }
.countryArea.highlighted.region-SAS,
.countryArea.highlighted.region-ECS,
.countryArea.highlighted.region-MEA,
.countryArea.highlighted.region-SSF,
.countryArea.highlighted.region-LCN,
.countryArea.highlighted.region-EAS,
.countryArea.highlighted.region-NAC {
    stroke-width: .5px;
}
.countryArea.active {
    stroke: #000000;
    stroke-width: .5px;
}
#play, #clock {
  position: absolute;
  top: 15px;
}
#play {
  left: 15px;
}
#clock {
  left: 65px;
}
.selection {
	stroke          : gray;
	stroke-width    : 1px;
	stroke-dasharray: 4px;
	stroke-opacity  : 0.5;
	fill            : transparent;
}

.state {
	stroke  : gray;
	fill    : white;
}

.buttons {
    margin-left: 150px;
}
.btn-active {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}